{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<div class="home-container">
  <div class="nav">
    <a class="" href="{% url 'twitter:home' %}">Home</a>
    <a class="nav__right-item" href="{% url 'twitter:logout' %}">Logout</a>
  </div>
  <div class="sidebar">
    <div class="card">
      <div>@{{ username }}</div>
      <div>Tweets: {{ num_tweets }}</div>
    </div>
  </div>
{% if user.is_authenticated %}
<div class="tweetform">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Tweet" class="button button--large button--primary-color">
  </form>
</div>
{% endif %}

<div class="tweets">
{% for tweet in tweets %}
  <div class="card">
    <div>
      <span><a href="{% url 'twitter:usertweets' tweet.auth_user %}">@{{tweet.auth_user}}</a></span>
      <span>{{tweet.published_date|date:'M d'}}</span>
    </div>
    <div class="tweet-body">{{tweet.body}}</div>
  </div>
{% endfor %}
</div>
