{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<div class="user-grid">
<div class="nav">
  <a class="" href="{% url 'twitter:home' %}">Home</a>
  <a class="right" href="{% url 'twitter:logout' %}">Logout</a>
</div>
<div class="sidebar">
  <div class="card">
    <div>@{{ username }}</div>
    <div>Tweets: {{ num_tweets }}</div>
  </div>
</div>
<div class="user-tweets">
{% for tweet in tweets %}
  <div class="card">
    <div>
      <span>@{{tweet.auth_user}}</span>
      <span>{{tweet.published_date|date:'M d'}}</span>
    </div>
    <div class="tweet-body">{{tweet.body}}</div>
  </div>
{% endfor %}
</div> 
</div>
